<div class="circuit-gallery col-xs-12 col-md-4">
    <div class="circuit-gallery-inner">
        <div class="w100 circuit-gallery-featured" style="background:url('{% path circuit.featuredMedia, 'big' %}');">
        </div>
        <div class="col-xs-12 col-md-6 circuit-gallery-description">
            <h6>{{ circuit.name | truncate(80, true, '...')}}</h6>
            <div class="sep"></div>
            <div class="trow">
                <h3>{{ circuit.subtitle }}</h3>
            </div>
            <div class="toggle-galleries">
                <div class="toggler closed"></div>
            </div>
        </div>
    </div>
    <div class="circuit-galleries-list">
        <ul>
            {% for p in circuit.posts %}
                {% if p.modality.id == modality.id %}
                    <li>
                        <a href="{{ url('post', {'id' : p.id, 'modality' : modality.slug }) }}">{{ p.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>