@import "typo";

.w100 {
  width : 100%;
}

.tcenter {
  display: table;
  float: none;
  margin: auto;
}

.relative {
  position : relative;
}

.absolute {
  position : absolute;
}

body {
  font-family: 'Mark', sans-serif;
}

.moto-bg {
  position: relative;
  display: table;
  height: 1px;
  width: 100%;
  img {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 76em;
    z-index: 9;
    height: 31em;
  }
}

.up-arrow {
  &:hover {
    cursor : pointer;
  }
}


.smoke-background {
  background: url('/bundles/motogp/img/assets/fondo_humo.jpg');
  background-size : cover !important;
  padding : 0 9vw;
}

.white-background {
  background: url(/bundles/motogp/img/assets/fondo_blanco.jpg);
  padding : 3em;
  width : 100%;
  max-width : 100%;
  display : table;
}

.link:hover {
  cursor : pointer;
}