@import "typo";

.w100 {
  width : 100%;
  clear : both;
}

.tcenter {
  display: table;
  float: none;
  margin: auto;
}

.relative {
  position : relative;
}

.absolute {
  position : absolute;
}

body {
  font-family: 'Mark', sans-serif;
  opacity : 0;
}

.moto-bg {
  position: relative;
  display: table;
  height: 1px;
  width: 100%;
  img {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 76em;
    z-index: 9;
    height: 31em;
  }
}

.up-arrow {
  &:hover {
    cursor : pointer;
  }
}


.smoke-background {
  background: url('/bundles/motogp/img/assets/fondo_humo.jpg');
  background-size : cover !important;
  padding : 0 9vw;
}

.white-background {
  background: url(/bundles/motogp/img/assets/fondo_blanco.jpg);
  padding : 3em;
  width : 100%;
  max-width : 100%;
  display : table;
}

.white-background-2 {
  background: url(/bundles/motogp/img/assets/white_bg2.jpg) !important;
}

.link:hover {
  cursor : pointer;
}

.moto-bg-footer {
  display: block;
  height: 1px;
  width: auto;
  right: 0;
  position: absolute;
  img {
    bottom : 0 !important;
    top : auto !important;
    position : static !important;
  }
}

.moto-bg-motos {
  img {
    top: auto !important;
  }
}

.col-nopad {
  padding-left : 0;
  padding-right : 0;
}

.bg-w100 {
  background-size: auto 100% !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.btn-info {
  background : $menu-golden;
  transition : background .33s;
  border : 1px solid $menu-grey;
  &:hover {
    transition : all .33s;
    background : $menu-grey;
    border : 1px solid transparent;
  }
}

.cookie-message {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  background: rgba(255, 255, 255, 0.8);
  padding: .33em;
}

.body-block {
}

html[modality="moto-3"] {

  .modality-list img {
    height: auto;
    width: 3.5em;

    &.current {
      height : 2.66em;
      width : auto;
    }

  }
}

input[type="checkbox"] {
  width : 1em;
}