#header {
  box-shadow : 0 0 16px rgba(0, 0, 0, 0.8);
  background: $menu-black;
  border-top : 2px solid $menu-black;
  border-right : 2px solid $menu-black;
  border-left : 2px solid $menu-black;
  border-bottom : 2px solid $menu-golden;
  position:relative;
  z-index : 9999;
  border-radius : 0 !important;
}

.header-options {

  display: table;
  position: absolute;
  right: 1em;
  bottom: 1em;

  .social-links, .lang-selector {
    clear:both;
    display: table;
    margin: auto;
    margin-right : 0;
    list-style-type: none;

    li {
      float: right;
      margin-left: 0.33em;
    }
  }

  .social-links {
    img {
      margin-top : .33em;
      height : 1.5em;
      filter: saturate(0) brightness(2);
      &:hover {
        filter: saturate(1) brightness(1);
      }
    }
  }

  .lang-selector img {
    width: 1.5em;
    margin-bottom: .1em;
    &:hover {
      opacity : .33;
    }
  }

}

.header-block {
  position : fixed;
  width : 100%;
  z-index : 1024;
}

.header-social-list {
  position : absolute !important;
  bottom : 0;
  right: 0;
  width: 14.4em !important;
}

.header-social {
  padding: 0.33em;
  background: #f4f4f4;
  width: 100%;
  text-align: center;
  img {
    height : 1em;
    width : auto;
    margin-left : .33em;
  }
}

.navbar-brand {
  width: 14em;
  position: absolute;
  bottom: 0;
  left: 4em;
  display: table;
}

.navbar-nav {
  float: none;
  margin: auto;
  display: table;
  li {
    a {
      height: 69%;
      padding: 0 2em;
      color: $menu-golden !important;
      text-transform: uppercase;
      font-size: .7em;
      margin: 1em 0;
      font-weight:bold;
      transition : all .33s;
      &:hover {
        color : grey !important;
        transition : all .33s;
      }

      &.active {
        color : $menu-golden !important;
      }
    }
    &:not(:last-child) a {
      border-right : 1px solid $menu-golden;
    }
  }
}

.navbar-nav li a.dropdown-item {
  border-right : none;
}

.navbar {
  margin-bottom : 0;
}

.modality-list {
  list-style-type: none;
  display: table;
  margin: auto;
  float: none;
  margin-top : .66em;

  li {
    float : left;
    display : table;
    margin-right : 1em;
  }

  img {
    position : relative;
    width: auto;
    height : 2.66em;
    padding: .5em .33em;
    vertical-align: bottom;
    transition : filter .33s;
    filter: saturate(.8);
    //opacity : 0.8;
    //top : .66em;

    &:hover {
      filter : saturate(2);
      //opacity : 1;
      transition : filter .33s;
    }

    &.current {
      filter: saturate(2);
      //opacity : 1;
      transition : filter .33s;
    }
  }
}