.homesponsors {

  .sponsor1 {
    width : 80%;
  }

  .sponsor-logo {
    text-align : center;
    padding : 1em;
    img {
      height: 4.5em;
      width: auto;
      margin : 1em;
    }

    a {
      display : inline-table;
    }
  }

  .sponsor-logo.color {
    img {
      filter : saturate(1);
      transition : filter .33s;
      &:hover {
        filter: saturate(0);
        transition : filter .33s;
      }
    }
  }

  .sponsor-logo.bn {
    padding : 2em 4em;
    img {
      filter : saturate(0);
      transition : filter .33s;
      opacity : .8;
      height : 3em !important;
      margin : 1em !important;
      &:hover {
        filter: saturate(1);
        transition : filter .33s;
        opacity : 1;
      }
    }
  }

  .social-bottom {
    margin : 2em auto;
    height: 2em;
    img {
      display : inline;
      height : 2em;
      margin : auto 1em;
    }
  }

  .sponsors-block-3 {
    font-size : 1em;
  }

  .sponsors-block-2 {
    font-size : 1em;
    width: 100%;
    margin: auto;
    display: table;
    float: none;
    clear: both;
    padding:0;
    .sponsor-logo img {
      height : auto;
      width : 26.4%;
    }

    a {
      border: none;
      text-decoration: none;
      display: inline !important;
    }
  }

  .sponsors-block-1 {
    font-size : 1em;
    width: 52.8%;
    margin: auto;
    display: table;
    float: none;
    clear: both;
    padding:0;
    .sponsor-logo img {
      height : auto;
      width : 100%;
    }
  }

}

.sponsors-block {
  width: 90%;
  display: table;
  margin: auto;
  float: none;
}


.no-padding {
  padding : 0 !important;
}

.sponsors-block-wrapper {
  display: table;
  width: 100%;
  padding: 2em 0;
  background: #010101;
}

