$breakpoint-tablet : "769px";


@media (max-width: 1023px)  {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }

  .navbar-collapse.collapse {
    display: none!important;
  }

  .navbar-collapse.collapse[aria-expanded="true"] {
    display: block !important;
  }

  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-brand {
    width: 6em;
    top: 0;
    right: 5em;
    position : static;
  }

  #header {
    background : #fefefe;
  }

  .modality-list {
    list-style-type: none;
    /* display: table; */
    /* margin: auto; */
    float: left;
    margin: 0;
    padding: 0;

    img {
      height: 2em !important;
      top: .8em !important;
      left: 1em !important;
    }
  }

  ul.nav{
    width : 100%;
    text-align : right;
    a {
      border-right : none !important;
    }
  }

  .cover {
    background-position : center;
  }

  .homepost, .homeposts, .home-block-white,.smoke-background, .white-background {
    padding : 0 !important;
  }

  .row {
    margin : 0;
  }

  .circuit-gallery {
    padding-top : 1em;
  }

}

@media screen and (max-width: 1023px)  {


  .motos-gallery-item {
    width : 50% !important;
    padding-top : .5em !important;
  }


  .only-desktop {
    display : none !important;
  }


  .homeblock .home-block-wrapper {
    padding : 0em;
  }

  .home-block-white {
    padding-left : 0;
    padding-right : 0;
  }

  .homeblock .homegalleries {
    display : table;
    height : auto;

    .homegallery {
      padding-bottom : 2em;
      height : auto;
    }
  }

  .moto-bg, .home-riders, .homebottom {
    display : none;
  }

  .homeresult {
    display: table;
    padding : 1em 0 !important;
    >div {
      display : table-cell;
      width: 100%;
      vertical-align: middle;
    }
  }

  .smw {
    display : none;
  }

  .homeresult > div {
    font-size : 1.6em;
    height : 16em;
  }

  .section-separator {
    display : none;
  }

  .homepost {
    margin-bottom : 1em;
  }

  .post .white-background {
    padding : 1em !important;
  }

  .up-arrow {
    display : none;
  }

  .footer-upper ul {
    padding : 0;
  }

  .team-categories {
    width : 100%;
    .staff-member {
      width : 100% !important;
    }
  }

  .staff-history {
    padding: 2.5% !important;
    width: 95%;
    text-align: justify;
  }

  .team-staff-menu ul {

    padding-left : 0;
    display: table;
    margin : auto;
    li {
      display: table;
      float: left;
      padding: 0 .5em;
    }
  }

  .staff-member {
    width : 100%;
  }

  form {
    padding-top: 5em;
    padding-bottom : 5em;
    width: 100%;
    display : table;
  }

  .homegalleries, .homegallery {

    padding : 1em 0 !important;
    max-width : 100%;
    display : block;
    .page-l, .page-r {
      display : none !important;
    }

    .swiper-pagination-bullets {
      display : block !important;
    }


  }

  .rider-media {
    position : static !important;
  }

  .rider-description .row {
    height : auto !important;
  }

  #slider-motos .cover {
    background-size: cover !important;
    background-position : center center;
  }

  .moto-description-separator {
     display : none !important;
  }


  .homegalleries {
    display : block !important;
    max-width: 100%;
    overflow: hidden;
  }


}


.menu-mobile {

}


@media screen and(min-width: 1024px) {
  .only-mobile {
    display : none;
  }
}


@media screen and (min-width: 1024px) and (max-width: 1120px) {
  .navbar-brand {
    width : 9em;
    position : static;
  }
  .social-media-widgets-inner > div {
    width : 27%;
    overflow: hidden;
  }

  .moto-bg {
    display : none;
  }
}


@media screen and (min-width : 560px) and (max-width : 1024px) {

}
