$breakpoint-tablet: "769px";
.menu-mobile {

}

@media (max-width: 1023px) {

  .header-sponsor {
    right: 0;
    display: none;
  }

  .hemi-head {
    top: 40% !important;
    font-size : 2em !important;
    padding : 1em !important;
  }

  .rider-biografy > div {
    padding: .5em;
    text-align: justify;
  }

  .rider-description .rider-name, .track-records {
    padding: 3em 1em;
    ul {
      padding: 0 1.2em;
    }
  }

  .track-records > div {
    padding: 0;
  }

  html[route="index"] #swiper-inicio {
    margin-bottom: 1em;
  }

  .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
  }

  .staff-tabs .tab > div {
    padding-top: 4em;
  }

  #header {
    box-shadow: none;
    border-bottom: 0;
    border : none !important;
  }

  .container-fluid {
    padding: 0;
    margin: 0 !important;
  }

  .navbar {
    .container {
      margin: 0;
      padding: 0;
    }

    ul.nav {
      margin: 0 !important;
      float: right !important;;
      li a {
        margin: 0;
        display: table;
      }
    }

    .dropdown-menu {
      padding-bottom: 0;
      padding-top: 0;
      position: static;
      ul {
        list-style-type: none;
        padding-left: 0 !important;
      }
    }

    .navbar-collapse {
      margin: 0 !important;
      padding: 0 !important;
      background: #f4f4f4;
    }

  }

  article.tcenter {
    width: 100% !important;
    max-width: 100% !important;
  }

  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-collapse.collapse[aria-expanded="true"] {
    display: block !important;
  }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  .navbar-nav > li {
    float: none;
    border-bottom: 1px solid white;
  }
  .navbar-nav > li > a {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 14em;
    width: 100%;
  }


  .navbar ul.nav li a {
    color : black !important;
  }

  .navbar ul.nav li a.active {
    color : $menu-golden !important;
  }

  .navbar-brand {
    width: 33vw;
    top: 0;
    right: 5em;
    position: absolute;
    left: 34vw;
  }

  .navbar-toggle {
    border: none;
    background: none;
    background-color: white;
  }

  .nav > li {
    display: table;
    width: 100%;
  }

  .modality-list {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;

    img {
      height: 2em !important;
      top: .8em !important;
      left: 1em !important;
      filter: saturate(0);
    }

    .dropdown-menu li a:hover, .dropdown-submenu > a {
      color: transparent !important;
    }

    .navbar-nav li a.dropdown-toggle:hover {
      color: transparent !important;
    }

  }

  ul.nav {
    background: #F4F4F4;
    a {
      border-right: none !important;
    }
  }

  .cover {
    background-position: center;
  }

  .homepost, .homeposts, .home-block-white, .smoke-background, .white-background {
    padding: 0 !important;
  }

  .row {
    margin: 0;
  }

  .circuit-gallery {
    padding-top: 1em;
  }

  .dropdown-toggle {
    width: 100%;
  }

  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover,
  .dropdown-toggle.parent, .open .dropdown-toggle.parent {
    background-color: #918F90 !important;
    color: white !important;
  }

  .navbar-nav li a.active.dropdown-toggle {
    background-color: #656263 !important;
    color: white !important;
  }

  .dropdown-toggle {
    background-image: url('/bundles/motogp/img/assets/menu_plus.png');
  }

  .dropdown-submenu .dropdown-toggle {
    background-image: url('/bundles/motogp/img/assets/menu_plus_black.png') !important;
  }

  .dropdown-submenu.open .dropdown-toggle {
    background-image: url('/bundles/motogp/img/assets/menu_minus_black.png') !important;
  }

  .open .dropdown-toggle, .default-open .dropdown-toggle {
    background-image: url('/bundles/motogp/img/assets/menu_minus.png');
  }

  .dropdown-menu li {
    &:nth-child(even) {
      background-color: #D3D3D3;
    }
    &:nth-child(odd) {
      background-color: #E9E9E9;
    }

    a {
      padding: .75em 5em;
    }
    a.active {
      width: 100%;
      font-weight: bolder;
    }
  }

  .default-open > .dropdown-menu {
    display: block !important;
    width: 100%;
  }

  .modality-list img {
    height: 2.66em !important;
    top: 0.3em !important;
    left: 1em !important;
  }

  .team-staff-menu {
    display: none;
  }

  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }

  .rider-wrapper .rider-image {
    height: auto;
    width: 100%;
    display: block;
  }

  .rider-media {
    background: transparent !important;
  }

}

@media screen and (max-width: 1023px) {

  .motos-gallery-item {
    width: 50% !important;
    padding-top: .5em !important;
  }

  .only-desktop {
    display: none !important;
  }

  .homeblock .home-block-wrapper {
    padding: 0em;
  }

  .home-block-white {
    padding-left: 0;
    padding-right: 0;
  }

  .homeblock .homegalleries {
    display: table;
    height: auto;

    .homegallery {
      padding-bottom: 2em;
      height: auto;
    }
  }

  .moto-bg {
    display: none;
  }

  .homeresult {
    display: table;
    padding: 1em 0 !important;
    > div {
      display: table-cell;
      width: 100%;
      vertical-align: middle;
    }
  }

  .smw {
    display: none;
  }

  .homeresult > div {
    font-size: 1.6em;
    height: 16em;
  }

  .section-separator {
    display: none;
  }

  .homepost {
    margin-bottom: 1em;
  }

  .post .white-background {
    padding: 1em !important;
  }

  .up-arrow {
    display: none;
  }

  .footer-upper ul {
    padding: 0;
  }

  .team-categories {
    width: 100%;
    .staff-member {
      width: 100% !important;
    }
  }

  .staff-history {
    padding: 2em !important;
    width: 100%;
    text-align: justify;
  }

  .team-staff-menu ul {

    padding-left: 0;
    display: table;
    margin: auto;
    li {
      display: table;
      float: left;
      padding: 0 .5em;
    }
  }

  .staff-member {
    width: 100%;
  }

  form {
    padding-top: 5em;
    padding-bottom: 5em;
    width: 100%;
    display: table;
  }

  .homegalleries, .homegallery {

    padding: 1em 0 !important;
    max-width: 100%;
    display: block;
    .page-l, .page-r {
      display: none !important;
    }

    .swiper-pagination-bullets {
      display: block !important;
    }

  }

  .rider-media {
    position: static !important;
  }

  .rider-description .row {
    height: auto !important;
  }

  #slider-motos .cover {
    background-size: cover !important;
    background-position: center center;
  }

  .moto-description-separator {
    display: none !important;
  }

  .homegalleries {
    display: block !important;
    max-width: 100%;
    overflow: hidden;
  }

  .navbar-nav {
    display: block;
  }

}

@media screen and (min-width: 1024px) {
  .only-mobile {
    display: none;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1120px) {
  .navbar-brand {
    width: 9em;
    position: static;
  }
  .social-media-widgets-inner > div {
    width: 27%;
    overflow: hidden;
  }

  .moto-bg {
    display: none;
  }
}

@media screen and (max-width: 1023px) and (orientation: portrait) {

  .swiper-container {
    height: 14em !important;
  }

  .staff-history {
    p {
      word-break: break-word;
      max-width: 100%;
    }
  }

  .slider-caption {
    font-size: .5em;
  }

}

@media screen and (max-width: 1023px) {
  .home-rider {
    display: none !important;
  }

  .home-rider-info {
    width: 100% !important;
  }

  .powered-by {
    position: static !important;
  }

  .home-rider-image-mobile {
    display: table !important;
    width: 100%;
    height: auto;
  }

  .home-rider-info-left {
    background: linear-gradient(to bottom, rgba(94, 72, 35, 0) 0%, rgba(94, 72, 35, 0.01) 62%, rgba(94, 72, 35, 1) 100%) !important;
  }

  .home-rider-info-right {
    background: linear-gradient(to top, rgba(66, 66, 66, 1) 0%, rgba(66, 66, 66, 0.01) 38%, rgba(66, 66, 66, 0) 100%) !important;
  }

  .dropdown-submenu {
    position: static;
  }

  .dropdown-submenu > .dropdown-menu {
    position: static;
    box-shadow: none;
    background: transparent;
    border: none;
    padding-left: 1em;
  }

  //.dropdown-submenu:hover>.dropdown-menu {
  //  display: block;
  //}

  .dropdown-submenu:hover > a:after {
    border-left-color: #fff;
  }

  .dropdown-submenu.pull-left {
    float: none;
  }

  .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }

  .dropdown-toggle {
    background-repeat: no-repeat;
    background-size: auto 2em;
    background-position: 90%;
  }

  .dropdown-submenu .dropdown-menu {
    display: none;
  }

  .dropdown-submenu.open .dropdown-menu {
    display: block !important;
  }

}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .navbar .navbar-collapse {
    overflow-y: auto;
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  .navbar-brand img {
    position: relative;
    top: -.5em;
    height: 2.33em;
    margin: auto;
  }

}

@media screen and (max-width: 640px) and (orientation: portrait) {
  .col-xxs-12 {
    width : 100% !important;
  }
}

@media screen and (max-height: 1200px) {

  #slider-motos #swiper-inicio {
    max-height: 34vw !important;
  }

}

@media screen and (max-width: 1023px) {
  .body-block {
    width: 100%;
    width: 100vw;
  }
}