.rider-description {
  .info {
    border-bottom : 1px solid $menu-golden;
  }

  .rider-name {
    padding : 3em 4em;
  }

  span.title {
    font-weight: bold;
    color : $menu-golden;
  }
}

.track-records {
  padding : 2em;
  border-bottom : 1px solid $menu-golden;
  display:table;
  width:100%;

  ul {
    list-style-type : none;
  }
}

.rider-featured-image {
  width : auto;
  height : 28em;
  margin-right : 2em;
}

.rider-biografy {
  padding : 2em;
  >div {
    padding : 0 3.3em;
  }
}

.right-arrow {
  color : $menu-golden;
  font-size: .5em;
  margin-right: .3em;
  position: relative;
  top: -.33em;
}

.rider-records, .rider-info {
  list-style-type: none;
  li:before {
    content: "·";
    font-size: 2em;
    vertical-align: middle;
    line-height: 0;
    position: relative;
    top: -.1em;
  }
}