.cover {
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.swiper-pagination {
  display: table;
  right: 2em;
  left: auto !important;
  width: auto !important;

  .swiper-pagination-bullet {
    width : .75em;
    height: .75em;
    margin-right : .1em;
    background : black;
    opacity : 1;
    box-shadow : 0 0 .33em rgba(0,0,0,0.5);
  }

  .swiper-pagination-bullet-active {
    background : $menu-golden;
  }

}

.slider-caption {
  bottom: 4%;
  left : 5%;
  position: absolute;

  h2 {
    text-transform: uppercase;
    color : white;
    text-shadow : 0 0 0.33em rgba(0, 0, 0, 0.9);
    font-weight: bold;
    font-size : 3em;
    margin-bottom : 0;
  }

  label {
    color : white;
    text-transform: capitalize;
    margin-bottom : 1em;
    font-weight: normal;
  }

  h2 a, label a {
    color : white !important;
  }
}

.slider-modality {
  img {
    width: auto;
    height : 4em;
  }
}


.slider-bottom-arrow {
  img {
    position: absolute;
    bottom: 1em;
    height: auto;
    z-index: 9;
    left: 49.5vw;
    width: 1vw;
    &:hover {
      cursor : pointer;
    }
  }
}

.page-lr {
  width: 7em;
}

.page-l {
  padding-left: 2em;
}

.page-r {
  padding-right : 2em;
}


#slider-motos {
  .cover {
    background-size : 100% !important;
  }
}