$smv-width: 20vw;
$smv-width-total : 65vw;
$smv-width-static: 320px;
$smv-width-static-total : 982px;

.smw {
  .smw-title {
    text-align: center;
    font-weight: 600;
    font-size: 3em;
    font-family: 'MarkLight', sans-serif;
  }
  .span2 {
    color : $menu-golden;
  }

  .social-media-icons {
    img {
      height: 2.5em;
      margin-right : 1em;
      transition: filter .33s;
      &:hover {
        filter : saturate(1.8);
        transition: filter .33s;
      }
    }
  }
}

.social-media-widgets {

  .smw-box {
    //width : 320px;
  }

  margin-top: 1em;
  background: transparent;
  //max-height: $smv-width-static;
  /* overflow: hidden; */
  text-align: center;

  .social-media-widgets-inner {

    display: block;
    margin: 1em auto;
    /* border: 1px solid red; */
    //max-height: $smv-width-static;
    overflow-y: hidden;
    float: none;
    //width: $smv-width-static-total;
    box-shadow : -1px 10px 46px 4px rgba(0, 0, 0, 0.2);

    >div {
      float: left;
    }
  }
}


@media screen and (min-width: 1366px) {

  .social-media-widgets {
    width: 100%;
    //max-height: $smv-width !important;
  }
  .social-media-widgets-inner {
    //max-height: $smv-width !important;
    //width : 61vw !important;
    background: white;
  };

  .smw-box {
    //width : 20vw !important;
    background: rgba(255, 255, 255, 0.55);
  }
}
