.smw {
  .smw-title {
    text-align: center;
    font-weight: 600;
    font-size: 3em;
    font-family: 'MarkLight', sans-serif;
  }
  .span2 {
    color : $menu-golden;
  }

  .social-media-icons {
    img {
      height: 2.5em;
      margin-right : 1em;
    }
  }
}

.social-media-widgets {

  margin-top: 1em;
  background: transparent;
  /* height: 320px; */
  max-height: 320px;
  /* overflow: hidden; */
  text-align: center;

  .social-media-widgets-inner {

    display: block;
    margin: 1em auto;
    /* border: 1px solid red; */
    max-height: 320px;
    overflow-y: hidden;
    float: none;
    width: 982px;
    box-shadow : -1px 10px 46px 4px rgba(0, 0, 0, 0.2);

    >div {
      float: left;
      margin-right : .33em;
    }
  }
}