.smw {
  .smw-title {
    text-align: center;
    font-weight: 600;
    font-size: 3em;
    font-family: 'MarkLight', sans-serif;
  }
  .span2 {
    color : $menu-golden;
  }

  .social-media-icons {
    img {
      height: 2.5em;
      margin-right : 1em;
    }
  }
}

.social-media-widgets {
  background: #f7f7f7;
  height: auto;
  >div {
    float: left;
    margin-right : 3em;
  }
  display : table;
  margin : 2em auto;
}