.team-staff-menu {
  background: rgba(0, 0, 0, 0.22);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  padding: 1em 0;
  position: absolute;
  top: 6.5em;
  z-index: 99999999;
  width: 100%;
  ul {
    display:table;
    margin : auto;
    float : none;

    list-style-type: none;
    li {
      display : inline;
      padding : 1em;
      a {
        font-weight : bolder;
        color : #646567;
        transition : color .33s;
        text-transform : uppercase;
        &:hover {
          color : $menu-golden;
          transition : color .33s;
          text-decoration : none;
        }
      }
      a:active {
        color : white;
        transition : color .33s;
        border-bottom : 1px solid white;
      }
    }
  }
}


#riders {
  padding-top : 2em;
  background : url('/bundles/motogp/img/assets/fondo_humo.jpg');
  background-repeat : no-repeat !important;
  background-size : cover !important;

  .rider-logo {
    height : 4em;
    width : auto;
  }

  .rider-name, .rider-surname {
    font-size : 2.33em;
    font-weight : bolder;
    text-shadow : .11em .11em .11em rgba(0, 0, 0, 0.33);
    padding : .5em .11em;
  }

  .rider-name {
    color : white;
  }

  .rider-surname {
    color : $menu-golden;
  }

  .rider-image-wrapper {
    border-bottom : 1px solid $menu-golden;
  }

  .rider-wrapper {
    padding-top : 2em;
  }

}

.staff-member {

  width : 24%;
  float : left;
  margin-right : 1em;
  margin-top : 2em;
  margin-bottom : 2em;

  .staff-member-img-wrapp {
    height : 12em;
  }

  .staff-member-image {
    height : 100%;
    width : auto;
    display: table;
    margin:auto;
  }

  h4 {
    color : $menu-golden;
    font-weight : bold;
    text-align : center;
  }

  h5 {
    color : white;
    text-align: center;
  }

}