body[team-staff] {
  #header {
    border-bottom : 0 !important;
    box-shadow : none !important;
  }

  .tab {
    display : none;
  }

  .tab.active {
    display : block;
  }

}

.team-staff-menu {
  border-top : 2px solid $menu-golden;
  background: rgba(189, 188, 188, 0.88);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.65);
  padding: 0.5em 0;
  z-index: 99999999;
  width: 100%;
  ul {
    display:table;
    margin : auto;
    float : none;


    list-style-type: none;
    li {
      display : inline;
      padding : 1em;
      padding-right : 1.8em;
      a {
        font-weight : bolder;
        color : #646567;
        transition : color .33s;
        text-transform : uppercase;
        font-size : 0.7em;
      }

      a.active, a:hover {
        color : white;
        transition : all .33s;
        border-bottom : 1px solid white;
        text-decoration : none;
      }

    }
  }
}


.rider-wrapper {
  padding-top : 2em;
  background : url('/bundles/motogp/img/assets/fondo_humo.jpg');
  background-repeat : no-repeat !important;
  background-size : cover !important;

  .rider-logo {
    height : 4em;
    width : auto;
  }

  .rider-name, .rider-surname {
    font-size : 2.33em;
    font-weight : bolder;
    text-shadow : .11em .11em .11em rgba(0, 0, 0, 0.33);
    padding : .5em .11em;
  }

  .rider-name {
    color : white;
  }

  .rider-surname {
    color : $menu-golden;
  }

  .rider-image-wrapper {
    border-bottom : 1px solid $menu-golden;
  }

}

.staff-member {

  width : 24%;
  float : left;
  margin-right : 1em;
  margin-top : .5em;
  margin-bottom : 2em;

  .staff-member-img-wrapp {
    height : 12em;
  }

  .staff-member-image {
    height : 100%;
    width : auto;
    display: table;
    margin:auto;
  }

  h4 {
    color : $menu-golden;
    font-weight : bold;
    text-align : center;
  }

  h5 {
    color : white;
    text-align: center;
  }

}


#chart {
  background : #eee;
  .team-categories {
    display : table;
    margin : auto;
  }

  .staff-member {
    width : 24vw;

    h4 {
      color : black;
    }

    h5 {
      color : $menu-golden;
    }
  }

}

h3 {
  font-size : 1.75em;
  color: #444;
}