$metronic_green : #34bfa3;
$metronic_blue : #22b9ff;
$metronic_violet: #5867dd;
$metronic_red : #f4516c;

$menu-grey : #E3E3E4;
$menu-golden: #FF0049;

$light-grey : #2D2D2D;
$dark-grey  : #2D2D2D;
$menu-black: #002B45;
$box-shadow : 0 1.2rem 2.4rem 0 rgba(0,43,69,.25), 0 0.2rem 0.8rem 0 rgba(0,43,69,.15);