{#{% use 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}#}

{% block sonata_admin_orm_one_to_many_widget %}
    {% if sonata_admin.name == 'medias' %}
        {% include 'MotogpBundle:Admin:media_admin.html.twig' %}
    {%  else %}
        {% include 'SonataDoctrineORMAdminBundle:CRUD:edit_orm_one_to_many.html.twig' %}
    {% endif %}
{% endblock %}


{% block sonata_admin_orm_many_to_one_widget %}
    {% if sonata_admin.name == 'featuredMedia' %}
        <div id="featured-media">
            {% include 'MotogpBundle:Admin:featured_media_admin.html.twig' with {'title' : 'una imagen de portada'}%}
            {#{% include 'SonataDoctrineORMAdminBundle:CRUD:edit_orm_many_to_one.html.twig' %}#}
        </div>
        {% elseif sonata_admin.name == 'logo' %}
            <div id="logo">
                {% include 'MotogpBundle:Admin:featured_media_admin.html.twig' with {'title' : 'un logotipo'}%}
                {#{% include 'SonataDoctrineORMAdminBundle:CRUD:edit_orm_many_to_one.html.twig' %}#}
            </div>
        {% elseif sonata_admin.name == 'homeImage' %}
            <div id="logo">
                {% include 'MotogpBundle:Admin:featured_media_admin.html.twig' with {'title' : 'una imagen para el home'}%}
                {#{% include 'SonataDoctrineORMAdminBundle:CRUD:edit_orm_many_to_one.html.twig' %}#}
            </div>
        {% elseif sonata_admin.name == 'footerImage' %}
        <div id="logo">
            {% include 'MotogpBundle:Admin:featured_media_admin.html.twig' with {'title' : 'un footer para newsletters'}%}
            {#{% include 'SonataDoctrineORMAdminBundle:CRUD:edit_orm_many_to_one.html.twig' %}#}
        </div>
        {% elseif sonata_admin.name == 'headerImage' %}
        <div id="logo">
            {% include 'MotogpBundle:Admin:featured_media_admin.html.twig' with {'title' : 'una cabecera para newsletters'}%}
            {#{% include 'SonataDoctrineORMAdminBundle:CRUD:edit_orm_many_to_one.html.twig' %}#}
        </div>
        {% elseif sonata_admin.name == 'previewImage' %}
        <div id="logo">
            {% include 'MotogpBundle:Admin:featured_media_admin.html.twig' with {'title' : 'una imagen para galerias home'}%}
            {#{% include 'SonataDoctrineORMAdminBundle:CRUD:edit_orm_many_to_one.html.twig' %}#}
        </div>

        {% else %}
        {% include 'SonataDoctrineORMAdminBundle:CRUD:edit_orm_many_to_one.html.twig' %}
    {% endif %}
{% endblock %}

