# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: null
    database_name: symfony
    database_user: ~
    database_password: ~
    mailer_transport: ~
    mailer_host: ~
    mailer_user: ~
    general_mailing: ~
    mailer_password: ~
    contact_mailing: ~
    mailer_contact_transport: ~
    mailer_contact_host: ~
    mailer_contact_user: ~
    mailer_contact_password: ~
    mailer_contact_port: 587
    mailer_contact_encryption: tls
    secret: ThisTokenIsNotSoSecretChangeIt
