{% extends "MotogpBundle:Default:base.html.twig" %}
{% block body %}
    {{ parent() }}
    {% include "MotogpBundle:Default:Blocks/top-slider.html.twig" with {'gallery' : gallery} %}
    <div class="smoke-background">
        <div class="white-background">
            <div class="circuit-galleries">
                {% for c in circuits %}
                    {% if c.galleries | length %}
                        {% include "MotogpBundle:Default:Galleries/circuit-gallery.html.twig" with {'circuit' : c} %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'MotogpBundle:Default:footer.html.twig' %}
{% endblock %}