{% extends "MotogpBundle:Default:base.html.twig" %}
{% block body %}
    {{ parent() }}
    {% include "MotogpBundle:Default:Blocks/top-slider.html.twig" with {'gallery' : gallery} %}
    <div class="smoke-background">
        <div class="white-background">
            <div class="circuit-galleries">

                {% for c in circuits %}
                    {% if c.galleries | length %}
                        {% include "MotogpBundle:Default:Galleries/circuit-gallery.html.twig" with {'circuit' : c} %}
                    {% endif %}
                {% endfor %}
            </div>
            <br><br>
            <div class="text-center">
                <img src="{{ asset('/bundles/motogp/img/assets/up.png') }}" alt="" class="up-arrow">
            </div>
        </div>
    </div>
    {% include 'MotogpBundle:Default:footer.html.twig' %}
    <div class="relative">
        <div class="moto-bg moto-bg-footer">
            <img src="{{ asset('/bundles/motogp/img/assets/moto_lateral.png') }}" style="position:absolute!important"/>
        </div>
    </div>
{% endblock %}