{% trans_default_domain 'contact' %}
<div>
    <img src="{{ app.request.getSchemeAndHttpHost()}} {% path featuredMedia, 'big' %}" style="width: 100%" />
    <h3>{{ title }}</h3>
    <div>
        {{ body | raw }}
    </div>
</div>
<br><br>
<img src="{{ app.request.getSchemeAndHttpHost() ~ asset('/bundles/motogp/img/branding.png') }}" />