<div class="homepost col-xs-12 col-md-6">
    <div class="homepost-inner link" href="{{ url('post', {'id' : post.id}) }}">
        <div class="col-xs-12 col-md-6 homepost-image" style="background:url('{% path post.featuredMedia, 'big' %}');">
        </div>
        <div class="col-xs-12 col-md-6 homepost-content">
            <h4>{{ post.name | truncate(80, true, '...') | upper}}</h4>
            <div class="sep"></div>
            <div class="post-content">
                {{ post.description | striptags | truncate(140, true, '...')|raw|nl2br }}
            </div>
            <p>{{ post.publishedAt | date('d.M.Y') }}</p>
        </div>
    </div>
</div>