<div class="homegalleries col-xs-12">
    {% for g in galleries %}
        {% if loop.index < 3  %}
            {% include "MotogpBundle:Default:Home/homegallery.html.twig" with {'g' : g } %}
        {% endif %}
    {% endfor %}
</div>