<div class="smw">
    <h3 class="smw-title">
        <span>SOCIAL MEDIA</span><span class="span2"> WALL</span>
    </h3>
    <div class="tcenter col-xs-12 col-md-7">
        <div class="tcenter social-media-icons">
            <img src="{{ asset('/bundles/motogp/img/assets/smw_s1.png')}}" />
            <img style="margin-left:1em" src="{{ asset('/bundles/motogp/img/assets/smw_youtube.png')}}" />
        </div>
        <div class="social-media-widgets" style="background:white;height:20em;margin-top : 2em;">
            <div class="col-xs-12 col-md-4">
            </div>
            <div class="col-xs-12 col-md-4">
            </div>
            <div class="col-xs-12 col-md-4">
            </div>
        </div>
    </div>
</div>