<div class="w100">
    <article class="tcenter" style="width:794px;max-width: 100%;">
        <div class="text-center">
            <h2>Política de cookies</h2>
        </div>

        <h3>¿Qué son las cookies?</h3>

        <p class="justify">Las cookies son pequeños archivos de datos que se reciben en el terminal desde el sitio Web visitado y se usan para registrar ciertas interacciones de la navegación en un sitio Web almacenando datos que podrán ser actualizados y recuperados. Estos archivos se almacenan en el ordenador del usuario y contiene datos anónimos que no son perjudiciales para su equipo. Se utilizan para recordar las preferencias del usuario, como el idioma seleccionado, datos de acceso o personalización de la página. Las cookies también pueden ser utilizadas para registrar información anónima acerca de cómo un visitante utiliza un sitio. Por ejemplo, desde qué página Web ha accedido, o si ha utilizado un "banner" publicitario para llegar.</p>

        <h3>¿Por qué Angel Nieto Team utiliza cookies?</h3>

        <p class="justify">Utilizamos cookies estrictamente necesarias y esenciales para que usted utilice nuestro sitio Web y le permitan moverse libremente, utilizar áreas seguras, opciones personalizadas, etc. Además, utilizamos cookies que recogen datos relativos al análisis de uso de la Web. Éstas se utilizan para ayudar a mejorar el servicio al usuario, midiendo el uso y el rendimiento de la página, para optimizarla y personalizarla. Nuestros sitios también pueden tener enlaces de redes sociales (como Facebook o Twitter). Angel Nieto Team no controla las cookies utilizadas por estas Web externas. Para más información sobre las cookies de las redes sociales u otras Webs ajenas, aconsejamos revisar sus propias políticas de cookies.</p>

        <h3>Tipos de Cookies</h3>

        <ul>
            <li>Según la entidad que las gestiona:</li>
        </ul>

        <h3>Cookies proipias</h3>

        <p class="justify">Las cookies propias son aquellas generadas por la página que está visitando.</p>

        <h3>Cookies de terceros</h3>

        <p class="justify">Las cookies de terceros son aquellas generadas por servicios o proveedores externos, como Facebook, Twitter, Google, etc.</p>
        <ul>
            <li>Según su finalidad</li>
        </ul>

        <h3>Cookies técnicas</h3>
        <p class="justify">Las cookies técnicas son aquellas imprescindibles y estrictamente necesarias para el correcto funcionamiento de un portal Web y la utilización de las diferentes opciones y servicios que ofrece. Por ejemplo, las que sirven para el mantenimiento de la sesión, la gestión del tiempo de respuesta, rendimiento o validación de opciones, utilizar elementos de seguridad, compartir contenido con redes sociales, etc.</p>
        <h3>Cookies de personalización</h3>
        <p class="justify">Estas cookies permiten al usuario especificar o personalizar algunas características de las opciones generales de la página Web, Por ejemplo, definir el idioma, configuración regional o tipo de navegador.</pjustify>
        <h3>Cookies analíticas</h3>
        <p class="justify">Las cookies analíticas son las utilizadas por nuestros portales Web, para elaborar perfiles de navegación y poder conocer las preferencias de los usuarios del mismo con el fin de mejorar la oferta de productos y servicios. Por ejemplo, mediante una cookie analítica se controlarían las áreas geográficas de mayor interés de un usuario, cuál es el producto de más aceptación, etc.</p>
        <h3>Cookies publicitarias / de publicidad</h3>
        <p class="justify">Las cookies publicitarias permiten la gestión de los espacios publicitarios en base a criterios concretos. Por ejemplo la frecuencia de acceso, el contenido editado, etc. Las cookies de publicidad permiten a través de la gestión de la publicidad almacenar información del comportamiento a través de la observación de hábitos, estudiando los accesos y formando un perfil de preferencias del usuario, para ofrecerle publicidad relacionada con los intereses de su perfil.</p>
        <ul>
            <li>Según plazo:</li>
        </ul>
        <h3>Cookies de sesión</h3>
        <p class="justify">Las cookies de sesión son aquellas que duran el tiempo que el usuario está navegando por la página Web y se borran al término.</p>
        <h3>Cookies persistentes </h3>
        <p class="justify">Estas cookies quedan almacenadas en el terminal del usuario, por un tiempo más largo, facilitando así el control de las preferencias elegidas sin tener que repetir ciertos parámetros cada vez que se visite el sitio Web.</p>
        <h3>Identificación de las cookies de esta página</h3>
        <p class="justify">Las cookies utilizadas en esta página web pueden ser tratadas por nosotros y también por los terceros que se relacionan a continuación, con quien hemos contratado la prestación de servicios para los que se requiere el uso de cookies:</p>
        <p class="justify">
        <ul>
            <li>Analytics</li>
            <li>Addthis</li>
            <li>Youtube</li>
            <li>Vimeo</li>
            <li>Facebook</li>
            <li>Twitter</li>
        </ul>
        </p>
        <h3>¿Cómo desactivar o eliminar cookies?</h3>
        <p class="justify">Para cumplir con la legislación vigente, tenemos que pedir su permiso para gestionar cookies. Si decide no autorizar el tratamiento indicándonos su no conformidad, sólo usaríamos las cookies técnicas, puesto que son imprescindibles para la navegación por nuestra Web. En este caso, no almacenaríamos ninguna cookie. En el caso de seguir navegando por nuestro sitio Web sin denegar su autorización implica que acepta su uso. Tenga en cuenta que si rechaza o borra las cookies de navegación por la Web de Angel Nieto Team, no podremos mantener sus preferencias, algunas características de las páginas no estarán operativas, no podremos ofrecerle servicios personalizados y cada vez que vaya a navegar por nuestra Web tendremos que solicitarle de nuevo su autorización para el uso de cookies. Si aún así, decide modificar la configuración de su acceso a la página Web, debe saber que es posible eliminar las cookies o impedir que se registre esta información en su equipo en cualquier momento mediante la modificación de los parámetros de configuración de su navegador:</p>
        <p class="justify">
        <ul>
            <li><a target="_blank" href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies">Configuración de cookies de Internet Explorer</a></li>
            <li><a target="_blank" href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we">Configuración de cookies de Firefox</a></li>
            <li><a target="_blank" href="https://support.google.com/chrome/answer/95647?hl=es">Configuración de cookies de Google Chrome</a></li>
            <li><a target="_blank" href="http://support.apple.com/kb/HT1677?viewlocale=es_ES&locale=es_ES">Configuración de cookies de Safari</a></li>
        </ul>
        </p>
        <p class="justify">Estos navegadores están sometidos a actualizaciones o modificaciones, por lo que no podemos garantizar que se ajusten completamente a la versión de su navegador. Para evitar estos desajustes, puede acceder directamente desde las opciones de su navegador que se encuentra generalmente en el menú de Opciones, en la sección de "Privacidad". (Por favor, consulte la ayuda de su navegador para más información.)</p>
        <h3>¿Qué significa aceptar las cookies?</h3>
        <p class="justify">Si acepta nuestras cookies, nos permite la mejora de la Web de Angel Nieto Team para ofrecerle un acceso óptimo y darle un servicio más eficaz y personalizado. Además, usted puede configurar su navegador para establecer que sólo los sitios Web de confianza o las páginas por las que está navegando en este momento puedan gestionar cookies lo que le permite seleccionar sus preferencias. Proporcionando esta política, Angel Nieto Team demuestra el compromiso adquirido con la legislación vigente sobre el uso de cookies, proporcionándole información para que usted pueda comprender qué tipo de cookies utilizamos y por qué lo hacemos. Con esto, pretendemos proporcionarle transparencia en cuanto a los datos tratados acerca de la navegación realizada desde su equipo en nuestra Web. Esta política se revisa periódicamente para asegurar su vigencia, por lo que puede ser modificada. Le recomendamos que visite la página con regularidad, donde le informaremos de cualquier actualización al respecto.
        </p>

    </article>
</div>

<style>
    article p {
        text-align: justify;
    }
</style>