<div class="w100">
    <article class="tcenter" style="width:794px;max-width: 100%;">
        <div class="text-center">
            <h2>Política de acceso al paddock</h2>
            <br><br>
        </div>
        <div class="text-justify">
            El deporte de motor puede ser peligroso. En caso de accidente o daño que el titular del pase ("PH") pueda sufrir o causar en el evento, PH renuncia a todos los derechos y títulos de cualquier reclamación legal que pueda tener, y libera de toda responsabilidad y consiente no demandar a Dorna, el equipo Ángel Nieto Team y sus socios. El uso del pase es solo para uso personal del PH aceptado por Dorna y Ángel Nieto Team y se rige por las condiciones que se muestran en las entradas del circuito. La aceptación de este pase constituye la aceptación de las condiciones que PH entiende, acepta y se compromete a cumplir. El PH otorga a Dorna y al equipo Ángel Nieto Team sus derechos de imagen para todos y cada uno de los usos comerciales. La filmación / grabación no está permitida. Dorna y el Ángel Nieto Team son los propietarios del pase, que nunca se puede vender, alquilar o comercializar, y Dorna y el Ángel Nieto Team tienen el derecho de retirarlo en cualquier momento sin previo aviso.
        </div>
    </article>
    <style>
        article p {
            text-align: justify;
        }
    </style>
</div>
