<div class="w100">
    <article class="tcenter" style="width:794px;max-width: 100%;">
        <div class="text-center">
            <h2>Paddock access policy</h2>
        </div>
        <div class="text-justify">
            Motorsport can be dangerous. In case of accident or damage, the pass holder (“PH”) may suffer or cause in the Event, PH waives all rights and titles to any legal claim it may have against, and releases from all liability and agrees not to sue, indemnify and hold harmless Dorna, Aspar Team and its partners. The use of the pass is for personal use only of the PH accepted by Dorna and Aspar Team and is governed by the conditions displayed at the entrances of the circuit. Accepting of this pass constitutes the acceptance of such conditions which PH understands, accepts and commits to comply. For good and valuable consideration, already received, PH grants Dorna and Aspar Team his image rights for any and all commercial uses. Filming/recording is not permited. Dorna and Aspar Team are the owner of the pass, which can never be sold, rented or commercialized and Dorna and Aspar Team have the right to withdraw it at any time without previous notice.
        </div>
    </article>
    <style>
        article p {
            text-align: justify;
        }
    </style>
</div>
