<h5 class="golden-text">Angel Nieto Team</h5>
<h2><b>SPEED UP MOTO2</b></h2>

<h5 class="golden-text">
    Engine
</h5>
<p>
    Three-cylinder, 4 stroke, 12-valve liquid-cooled TRIUMPH
</p>

<h5 class="golden-text">
    Engine Displacement
</h5>

<p>
    765 cc
</p>

<h5 class="golden-text">
    Maximum power
</h5>

<p>135 cv</p>

<h5 class="golden-text">Data logging and ECU</h5>
<p>MAGNETI MARELLI</p>

<h5 class="golden-text">Tank</h5>
<p>21 liters</p>

<h5 class="golden-text">Transmission </h5>
<p>6 speeds</p>

<h5 class="golden-text">Exhaust System: </h5>
<p>Akrapovič</p>

<h5 class="golden-text">Chassis</h5>
<p>Twin-spare aluminium</p>

<h5 class="golden-text">Fork</h5>
<p>Ohlins</p>

<h5 class="golden-text">Wheels</h5>
<p>OZ</p>

<h5 class="golden-text">Chain</h5>
<p>Regina</p>

<h5 class="golden-text">Tyres</h5>
<p>Dunlop</p>

<h5 class="golden-text">Brakes</h5>
<p>Brembo</p>

<h5 class="golden-text">Weight</h5>
<p>Bike and rider 220 kg.</p>

<div class="sep"></div>
