<h5 class="golden-text">Alvaro Bautista</h5>

<h2><b>Ducati desmosedici<br>GP - 2017 version</b></h2>

<div class="sep"></div>

<h5 class="golden-text">
    Bike
</h5>

<p>
    1000cc Liquid-cooled, 90 degree v4,<br>
    four-stroke, evo desmodromic DOHC,
    four valves per cylinder
</p>

<h5 class="golden-text">
    Power
</h5>

<p>
    Over 250hp
</p>

<h5 class="golden-text">
    Gearbox
</h5>

<p>
    6-speed seamless transmission
</p>

<h5 class="golden-text">
    Suspension
</h5>

<p>Öhlins</p>

<h5 class="golden-text">Chassis</h5>
<p>Aluminium alloy twin-spar</p>

<h5 class="golden-text">Brakes</h5>
<p>Brembo</p>

<h5 class="golden-text">Software</h5>
<p>Magneti Marelli</p>

<h5 class="golden-text">Tyres</h5>
<p>Michelin, 17" front and rear</p>

<h5 class="golden-text">Dry weight</h5>
<p>157kg</p>

<div class="sep"></div>