<div class="col-xs-12 col-md-6 tcenter moto-description relative">
    <h5 class="golden-text">Aspar Team</h5>

    <h2><b>GASGAS RC250GP - 2019 Version</b></h2>

    <div class="sep"></div>
    <h5>Motor</h5>
    <p>250cc 4 tiempos</p>

    <h5>Potencia</h5>
    <p>60 cv (aprox.)</p>

    <h5>Cambio</h5>
    <p>6 marchas</p>

    <h5>Suspensiones</h5>
    <p>WP</p>

    <h5>Chassis</h5>
    <p>Multitubular GASGAS</p>

    <h5>Frenos</h5>
    <p>Brembo</p>

    <h5>Software</h5>
    <p>Dell’Orto - 2D</p>

    <h5>Escape</h5>
    <p>Akrapovič</p>

    <h5>Neumáticos</h5>
    <p>Dunlop</p>

    <h5>Peso (moto + piloto)</h5>
    <p>152 kg</p>
</div>
<style>
    .moto-description h5 {
        color: #d5b468;
        font-size: 1.4em;
        margin-bottom: 0.11em;
    }
</style>
