<h5 class="golden-text">Aspar Team</h5>
<h2><b>SPEED UP MOTO2</b></h2>
<h5 class="golden-text">Motor</h5>
<p>Tres cilindros, cuatro tiempos, 765 cc Triumph</p>
<h5 class="golden-text">M치xima potencia</h5>
<p>135 cv</p>
<h5 class="golden-text">Software</h5>
<p>Magneti Marelli</p>
<h5 class="golden-text">Dep칩sito</h5>
<p>21 litros</p>
<h5 class="golden-text">Transmisi칩n</h5>
<p>6 marchas</p>
<h5 class="golden-text">Escape </h5>
<p>Akrapovic</p>
<h5 class="golden-text">Chasis</h5>
<p>Aluminio</p>
<h5 class="golden-text">Horquillas</h5>
<p>Ohlins</p>
<h5 class="golden-text">Llantas</h5>
<p>OZ</p>
<h5 class="golden-text">Cadena</h5>
<p>Regina</p>
<h5 class="golden-text">Neum치ticos</h5>
<p>Dunlop</p>
<h5 class="golden-text">Frenos</h5>
<p>Brembo</p>
<h5 class="golden-text">Peso</h5>
<p>Moto y piloto 220 kg.</p>