<div class="col-xs-12 col-md-6 tcenter moto-description relative">
    <br><br>
    <h5><b>ENERGIA EGO CORSA</b></h5>

    <div class="sep"></div>
    <h5>MOTOR</h5>
    <p>Permanent Magnet AC, Oil Cooled</p>

    <h5>MÁXIMA VELOCIDAD</h5>
    <p>Hasta 270 km/h</p>

    <h5>POTENCIA</h5>
    <p>Alrededor de 120 kW</p>

    <h5>PAR</h5>
    <p>200 Nm de 0 a 5000 rpm.</p>

    <h5>BATERÍA</h5>
    <p>Ion de litio de alto voltaje <br>
    Paquete de baterías: aprox. 20 kWh</p>

    <h5>RECARGA</h5>
    <p>Modo 4 de carga rápida DC</p>

    <h5>LLANTA DELANTERA Y TRASERA</h5>
    <p>Aluminio forjado</p>

    <h5>NEUMÁTICO</h5>
    <p>Michelin</p>

    <h5>CHASIS</h5>
    <p>Enrejado tubular de acero</p>

    <h5>BASCULANTE</h5>
    <p>Aluminio moldeado</p>
</div>
<style>
    .moto-description h5 {
        color: #d5b468;
        font-size: 1.4em;
        margin-bottom: 0.11em;
    }
</style>