<div class="col-xs-12 col-md-6 tcenter moto-description relative">
    <h5 class="golden-text">Angel Nieto Team</h5>

    <h2><b>KTM RC250GP - 2018 Version</b></h2>

    <div class="sep"></div>
    <h5 class="golden-text">Engine</h5>
    250cc 4-stroke

    <h5 class="golden-text">Power</h5>
    60hp (aprox.)

    <h5 class="golden-text">Gearbox</h5>
    6-speed

    <h5 class="golden-text">Suspension</h5>
    WP

    <h5 class="golden-text">Chasis</h5>
    Multitubular KTM

    <h5 class="golden-text">Brakes</h5>
    Brembo

    <h5 class="golden-text">Software</h5>
    Dell’Orto - 2D

    <h5 class="golden-text">Exhaust</h5>
    Akrapovič

    <h5 class="golden-text">Tyres</h5>
    Dunlop

    <h5 class="golden-text">Moto3 weight (motorcycle + rider)</h5>
    152 kg

    <div class="sep"></div>
</div>