<h5 class="golden-text">Angel Nieto Team</h5>
<h2><b>KTM RC250GP</b></h2>
<h5 class="golden-text">Engine</h5>
<p>Triumph, 765cc, tres cilindros</p>

<h5 class="golden-text">
    Power
</h5>
<p>
    138 hp
</p>

<h5 class="golden-text">
    Gearbox
</h5>

<p>
    6-speed
</p>

<h5 class="golden-text">
    Suspension
</h5>

<p>WP</p>

<h5 class="golden-text">Chassis</h5>
<p>Multitubular KTM</p>

<h5 class="golden-text">Brakes</h5>
<p>Brembo</p>

<h5 class="golden-text">Software</h5>
<p>Magneti Marelli Race ECU</p>

<h5 class="golden-text">Exhaust</h5>
<p>Akrapovič</p>

<h5 class="golden-text">Tyres</h5>
<p>Dunlop</p>

<h5 class="golden-text">Minimun weight</h5>
<p>215 kg (with rider)</p>

<div class="sep"></div>