<div class="col-xs-12 col-md-6 tcenter moto-description relative">
    <br><br>
    <h5><b>ENERGIA EGO CORSA</b></h5>

    <div class="sep"></div>
    <h5>MOTOR</h5>
    <p>Permanent Magnet AC, Oil Cooled</p>

    <h5>MAX SPEED</h5>
    <p>Up to 270km/h – (168 mph)</p>

    <h5>POWER kW (Hp)</h5>
    <p>Around 120 kW</p>

    <h5>TORQUE</h5>
    <p>200 Nm from 0 to 5000 rpm</p>

    <h5>BATTERY</h5>
    <p>High Voltage Lithium Ion <br>
        Battery pack: approx. 20 kWh</p>

    <h5>RECHARGE</h5>
    <p>Fast Charge DC Mode 4</p>

    <h5>FRONT AND REAR WHEEL</h5>
    <p>Forged Aluminium</p>

    <h5>TYRE</h5>
    <p>Michelin</p>

    <h5>FRAME</h5>
    <p>Steel Tubular Trellis</p>

    <h5>SWINGARM</h5>
    <p>Cast Aluminum</p>
</div>
<style>
    .moto-description h5 {
        color: #d5b468;
        font-size: 1.4em;
        margin-bottom: 0.11em;
    }
</style>