<h5 class="golden-text">Angel Nieto Team</h5>

<h2><b>KTM MOTO2</b></h2>

<div class="sep"></div>
<h5 class="golden-text">Motor</h5>
<p>Triumph, 765cc, tres cilindros</p>

<h5 class="golden-text">
    Potencia
</h5>

<p>
    138 cv
</p>

<h5 class="golden-text">
    Cambio
</h5>

<p>
    6 Marchas
</p>

<h5 class="golden-text">
    Suspensiones
</h5>

<p>WP</p>

<h5 class="golden-text">Chasis</h5>
<p>Multitubular KTM</p>

<h5 class="golden-text">Frenos</h5>
<p>Brembo</p>

<h5 class="golden-text">Software</h5>
<p>Magneti Marelli Race ECU</p>

<h5 class="golden-text">Escape</h5>
<p>Akrapovič</p>

<h5 class="golden-text">Neumáticos</h5>
<p>Dunlop</p>

<h5 class="golden-text">Peso (moto+piloto)</h5>
<p>215 kg</p>

<div class="sep"></div>
