<div class="w100">
    <article class="tcenter" style="width: 794px; max-width: 100%;">
        <div class="text-center">
            <h2> Privacy Policy </h2>      
        </div>
        <div class="text-justify">
            In compliance with the provisions of Organic Law 15/1999
            of December 13, Protection of Personal Data, we inform you that,
            by completing this form, your personal data will be incorporated
            and will be treated in an automated file, ownership of Motoras GP
            55 SL in order to be able to manage your request, as well as to
            keep you informed of future promotions, news and news related to
            the sector. <br><br>
            Motoras GP 55 SL undertakes to treat confidentially the
            personal data provided and not to communicate or assign this
            information to third parties.         
            You can freely and voluntarily provide the information
            requested in the forms except in the fields that appear as
            mandatory. The non-introduction of the information requested as
            mandatory may have the consequence that your request can not
            be addressed. <br><br>
            In turn, and by virtue of the provisions of Law 34/2002, of
            July 11, Services of the Information Society and Electronic
            Commerce, Motoras GP 55 SL informs that you can use the
            addresses of electronic mail provided, to send information about
            your products and services, notices and offers and, in general,
            commercial information of interest related to the activity of the
            company. <br><br>
            Likewise, we inform you of the possibility you have of
            exercising the rights of access, rectification, cancellation and
            opposition of your personal data in person at the offices of
            Motoras GP 55 SL, accompanying a copy of ID, or by postal mail
            addressed to: Motoras GP 55 SL, Pol. Ind. de Picassent, C/6
            parc. 49. 46220 Picassent, Valencia, Spain.
        </div>
    </article>
</div>