<div class="w100">
    <article class="tcenter" style="width:794px;max-width: 100%;">
        <div class="text-center">
            <h2>Política de privacidad</h2>
        </div>
        <div class="text-justify">
            En cumplimiento de lo establecido en la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal, le informamos que, mediante la cumplimentación del presente formulario, sus datos personales quedarán incorporados y serán tratados en un fichero automatizado, titularidad de Motoras GP 55 SL con la finalidad de poder gestionar su solicitud, así como para mantenerle informado de futuras promociones, noticias y novedades relacionadas con el sector.<br><br>Motoras GP 55 SL se compromete a tratar de forma confidencial los datos de carácter personal facilitados y a no comunicar o ceder dicha información a terceros.<br><br>Usted podrá de forma libre y voluntaria facilitar la información que se le pide en los formularios salvo en los campos que aparecen como obligatorios. La no introducción de la información solicitada como obligatoria podrá tener como consecuencia que no pueda atenderse su solicitud.<br><br>A su vez, y en virtud de lo establecido en la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio electrónico, Motoras GP 55 SL informa que podrá utilizar las direcciones de correo electrónico facilitadas, para remitirte información acerca de sus productos y servicios, avisos y ofertas y, en general, información de carácter comercial de interés relativa a la actividad de la empresa.<br><br>Asimismo, le informamos de la posibilidad que tiene de ejercer los derechos de acceso, rectificación, cancelación y oposición de sus datos de carácter personal de forma presencial en las oficinas de Motoras 55 GP, acompañando copia de DNI, o bien mediante correo postal dirigido a: Motoras GP 55 SL, Pol. Ind. de Picassent, C/6 parc. 49. 46220 Picassent, Valencia, España.
        </div>
    </article>
    <style>
        article p {
            text-align: justify;
        }
    </style>
</div>