<div class="w100">
    <article class="tcenter" style="width:794px;max-width: 100%;">
        <h2 class="P7"><a id="a__WEB__Aviso_legal"><span/></a>AVISO LEGAL</h2>
        <p class="P4">  </p>
        <p class="P1"><span class="Strong_20_Emphasis"><span class="T1">LEY DE LOS SERVICIOS DE LA SOCIEDAD DE LA INFORMACIÓN (LSSI)</span></span>
        </p>
        <p class="P3">MOTORAS GP 55 S.L, responsable del sitio web, en adelante RESPONSABLE, pone a disposición de los
            usuarios el presente documento, con el que pretende dar cumplimiento a las obligaciones dispuestas en la Ley
            34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico (LSSICE),
            BOE N º 166, así como informar a todos los usuarios del sitio web respecto a cuáles son las condiciones de
            uso.</p>
        <p class="P3">Toda persona que acceda a este sitio web asume el papel de usuario, comprometiéndose a la
            observancia y cumplimiento riguroso de las disposiciones aquí dispuestas, así como a cualquier otra
            disposición legal que fuera de aplicación. </p>
        <p class="P3">MOTORAS GP 55 S.L se reserva el derecho de modificar cualquier tipo de información que pudiera
            aparecer en el sitio web, sin que exista obligación de preavisar o poner en conocimiento de los usuarios
            dichas obligaciones, entendiéndose como suficiente con la publicación en el sitio web de MOTORAS GP 55
            S.L.</p>
        <p class="Text_20_body"><span class="T1"><br/></span><span class="Strong_20_Emphasis"><span class="T1">1. DATOS IDENTIFICATIVOS</span></span>
        </p>
        <p class="P2">Nombre de dominio: https://www.angelnietoteam.com/es<br/>Nombre comercial: Aspar TEAM<br/>Denominación
            social: MOTORAS GP 55 S.L<br/>NIF: B98829518<br/>Domicilio social: Aspar TEAM<br/>Teléfono:
            962418650<br/>e-mail: carmen@teamaspar.com<br/>Inscrita en el Registro (Mercantil / Público): </p>
        <p class="P4"><span class="Strong_20_Emphasis"><span class="T1">2. DERECHOS DE PROPIEDAD INTELECTUAL E INDUSTRIAL</span></span>
        </p>
        <p class="P5">El sitio web, incluyendo a título enunciativo pero no limitativo su programación, edición,
            compilación y demás elementos necesarios para su funcionamiento, los diseños, logotipos, texto y/o gráficos,
            son propiedad del RESPONSABLE o, si es el caso, dispone de licencia o autorización expresa por parte de los
            autores. Todos los contenidos del sitio web se encuentran debidamente protegidos por la normativa de
            propiedad intelectual e industrial, así como inscritos en los registros públicos correspondientes. </p>
        <p class="P5">Independientemente de la finalidad para la que fueran destinados, la reproducción total o parcial,
            uso, explotación, distribución y comercialización, requiere en todo caso de la autorización escrita previa
            por parte del RESPONSABLE. Cualquier uso no autorizado previamente se considera un incumplimiento grave de
            los derechos de propiedad intelectual o industrial del autor. </p>
        <p class="P5">Los diseños, logotipos, texto y/o gráficos ajenos al RESPONSABLE y que pudieran aparecer en el
            sitio web, pertenecen a sus respectivos propietarios, siendo ellos mismos responsables de cualquier posible
            controversia que pudiera suscitarse respecto a los mismos. El RESPONSABLE autoriza expresamente a que
            terceros puedan redirigir directamente a los contenidos concretos del sitio web, y en todo caso redirigir al
            sitio web principal de https://www.angelnietoteam.com/es. </p>
        <p class="P6"><span class="T1">El RESPONSABLE reconoce a favor de sus titulares los correspondientes derechos de propiedad intelectual e industrial, no implicando su sola mención o aparición en el sitio web la existencia de derechos o responsabilidad alguna sobre los mismos, como tampoco respaldo, patrocinio o recomendación por parte del mismo.<br/><br/>Para realizar cualquier tipo de observación respecto a posibles incumplimientos de los derechos de propiedad intelectual o industrial, así como sobre cualquiera de los contenidos del sitio web, puede hacerlo a través del correo electrónico carmen@teamaspar.com.</span><br/> 
        </p>
        <p class="P6"><span class="Strong_20_Emphasis"><span class="T1">3. EXENCIÓN DE RESPONSABILIDADES</span></span>
        </p>
        <p class="P5">El RESPONSABLE se exime de cualquier tipo de responsabilidad derivada de la información publicada
            en su sitio web siempre que esta información haya sido manipulada o introducida por un tercero ajeno al
            mismo.</p>
        <p class="P6"><span class="Strong_20_Emphasis"><span class="T1">Uso de Cookies</span></span></p>
        <p class="P5">Este sitio web puede utilizar cookies técnicas (pequeños archivos de información que el servidor
            envía al ordenador de quien accede a la página) para llevar a cabo determinadas funciones que son
            consideradas imprescindibles para el correcto funcionamiento y visualización del sitio. Las cookies
            utilizadas tienen, en todo caso, carácter temporal, con la única finalidad de hacer más eficaz la
            navegación, y desaparecen al terminar la sesión del usuario. En ningún caso, estas cookies proporcionan por
            sí mismas datos de carácter personal y no se utilizarán para la recogida de los mismos. </p>
        <p class="P6"><span class="T1">Mediante el uso de cookies también es posible que el servidor donde se encuentra la web reconozca el navegador utilizado por el usuario con la finalidad de que la navegación sea más sencilla, permitiendo, por ejemplo, el acceso de los usuarios que se hayan registrado previamente a las áreas, servicios, promociones o concursos reservados exclusivamente a ellos sin tener que registrarse en cada visita. También se pueden utilizar para medir la audiencia, parámetros de tráfico, controlar el progreso y número de entradas, etc, siendo en estos casos cookies prescindibles técnicamente pero beneficiosas para el usuario. Este sitio web no instalará cookies prescindibles sin el consentimiento previo del usuario.</span><br/> 
        </p>
        <p class="P6"><span class="T1">El usuario tiene la posibilidad de configurar su navegador para ser alertado de la recepción de cookies y para impedir su instalación en su equipo. Por favor, consulte las instrucciones de su navegador para ampliar esta información.</span><br/> 
        </p>
        <p class="P6"><span class="Strong_20_Emphasis"><span class="T1">Política de enlaces</span></span></p>
        <p class="P5">Desde el sitio web, es posible que se redirija a contenidos de terceros sitios web. Dado que el
            RESPONSABLE no puede controlar siempre los contenidos introducidos por los terceros en sus respectivos
            sitios web, no asume ningún tipo de responsabilidad respecto a dichos contenidos. En todo caso, procederá a
            la retirada inmediata de cualquier contenido que pudiera contravenir la legislación nacional o
            internacional, la moral o el orden público, procediendo a la retirada inmediata de la redirección a dicho
            sitio web, poniendo en conocimiento de las autoridades competentes el contenido en cuestión. </p>
        <p class="P5">El RESPONSABLE no se hace responsable de la información y contenidos almacenados, a título
            enunciativo pero no limitativo, en foros, chats, generadores de blogs, comentarios, redes sociales o
            cualquier otro medio que permita a terceros publicar contenidos de forma independiente en la página web
            del RESPONSABLE. Sin embargo, y en cumplimiento de lo dispuesto en los artículos 11 y 16 de la LSSICE, se
            pone a disposición de todos los usuarios, autoridades y fuerzas de seguridad, colaborando de forma activa en
            la retirada o, en su caso, bloqueo de todos aquellos contenidos que puedan afectar o contravenir la
            legislación nacional o internacional, los derechos de terceros o la moral y el orden público. En caso de que
            el usuario considere que existe en el sitio web algún contenido que pudiera ser susceptible de esta
            clasificación, se ruega lo notifique de forma inmediata al administrador del sitio web. </p>
        <p class="P6"><span class="T1">Este sitio web ha sido revisado y probado para que funcione correctamente. En principio, puede garantizarse el correcto funcionamiento los 365 días del año, 24 horas al día. Sin embargo, el RESPONSABLE no descarta la posibilidad de que existan ciertos errores de programación, o que acontezcan causas de fuerza mayor, catástrofes naturales, huelgas o circunstancias semejantes que hagan imposible el acceso a la página web.</span><br/> 
        </p>
        <p class="P6"><span class="Strong_20_Emphasis"><span class="T1">Direcciones IP</span></span></p>
        <p class="P5">Los servidores del sitio web podrán detectar de manera automática la dirección IP y el nombre de
            dominio utilizados por el usuario. Una dirección IP es un número asignado automáticamente a un ordenador
            cuando éste se conecta a Internet. Toda esta información es registrada en un fichero de actividad del
            servidor debidamente inscrito que permite el posterior procesamiento de los datos con el fin de obtener
            mediciones únicamente estadísticas que permitan conocer el número de impresiones de páginas, el número de
            visitas realizadas a los servidores web, el orden de visitas, el punto de acceso, etc.</p>
        <p class="P6"><span class="Strong_20_Emphasis"><span class="T1">4. LEY APLICABLE Y JURISDICCIÓN</span></span>
        </p>
        <p class="P5">Para la resolución de todas las controversias o cuestiones relacionadas con el presente sitio web
            o de las actividades en él desarrolladas, será de aplicación la legislación española, a la que se someten
            expresamente las partes, siendo competentes para la resolución de todos los conflictos derivados o
            relacionados con su uso los Juzgados y Tribunales más cercanos a PICASSENT.
        </p>
    </article>
</div>

<style>
    article p {
        text-align: justify;
    }

    article table {
        border-collapse: collapse;
        border-spacing: 0;
        empty-cells: show
    }

    article td, th {
        vertical-align: top;
        font-size: 12pt;
    }

    article h1, h2, h3, h4, h5, h6 {
        clear: both;
    }

    article ol, ul {
        margin: 0;
        padding: 0;
    }

    article li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    article /* "li span.odfLiEnd" - IE 7 issue*/
    article li span. {
        clear: both;
        line-height: 0;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }

    article span.footnodeNumber {
        padding-right: 1em;
    }

    article span.annotation_style_by_filter {
        font-size: 95%;
        background-color: #fff000;
        margin: 0;
        border: 0;
        padding: 0;
    }

    article span.heading_numbering {
        margin-right: 0.8rem;
    }

    * {
        margin: 0;
    }

    article .P1 {
        color: #000000;
        font-size: 12pt;
        margin-bottom: 0.499cm;
        margin-top: 0cm;
        writing-mode: page;
        text-align: center ! important;
    }

    article .P2 {
        color: #000000;
        font-size: 10.5pt;
        margin-bottom: 0.499cm;
        margin-top: 0cm;
        writing-mode: page;
    }

    article .P3 {
        color: #000000;
        font-size: 10.5pt;
        margin-bottom: 0.499cm;
        margin-top: 0cm;
        writing-mode: page;
        text-align: justify ! important;
    }

    article .P4 {
        color: #000000;
        font-size: 12pt;
        margin-bottom: 0cm;
        margin-top: 0cm;
        writing-mode: page;
    }

    article .P5 {
        color: #000000;
        font-size: 10.5pt;
        margin-bottom: 0cm;
        margin-top: 0cm;
        writing-mode: page;
        text-align: justify ! important;
    }

    article .P6 {
        color: #000000;
        font-size: 12pt;
        margin-bottom: 0cm;
        margin-top: 0cm;
        writing-mode: page;
        text-align: justify ! important;
    }

    article .P7 {
        color: #000000;
        font-size: 18pt;
        font-weight: bold;
        margin-bottom: 0.212cm;
        margin-top: 0.353cm;
        writing-mode: page;
        text-align: center ! important;
    }

    article .Text_20_body {
        color: #000000;
        font-size: 12pt;
        writing-mode: page;
        margin-top: 0cm;
        margin-bottom: 0.499cm;
    }

    article .Strong_20_Emphasis {
        font-weight: bold;
    }

    article .T1 {
        font-size: 10.5pt;
    }
</style>