body {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    background : white;
    font-size : 14px;
}


h1 {
    color : #004E96;
    font-weight: lighter;
}

h2 {

}

h3 {
    font-size : 1.5em!important;
    text-align: center !important;
}

p, p span {
    font-size : 14px;
    font-weight: normal;
}


.smalltext{
    color : #555;
    font-size : 0.95em;
    text-align : center;
}

.content {
    word-break: normal;
    width : 868px;
    max-width: 868px;
}

.content-centered {
    text-align : center;
}

.media-image {
    display : inline;
    float : left;
    clear:none;
}

.media-image-1, .media-image-2 {
    /*border-right : 14px solid white;*/
    /*border-right : 14px solid white;*/
}

.primary {
    /*background : #fbfbfb;*/
}

p {
    max-width: 868px;

}


p span {

}

h3 {

}

table.container {
    width : 900px;
    min-width: 900px;
}

.tcenter {
    text-align : center;
    margin : auto;
    float : none;
}

.quotation {
    background : #fafafa;
    margin-top : 2em;
    margin-bottom : 2em;
    padding : 2em 0;
}

.quotation h2 {
    margin : 1em auto;
    color : #CAB876;
}

.quotation-content {
    padding : 0 3em;
}

.quotation-content p {
    text-align : center;
}

.w100 {
    width : 100%;
    display: table;
}

.fleft {
    float : left;
}

.fright {
    float : right;
}

.clearfix {
    clear : both;
}

.quotation-content-raw {
    margin-top : 10px;
}
