body {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    background : white;
}

h1 {
    color : #004E96;
    font-weight: lighter;
}

.smalltext{
    color : #555;
    font-size : 12px;
    text-align : center;
}

.content {
    word-break: normal;
    width : 868px;
    max-width: 868px;
}

.content-centered {
    text-align : center;
}

.media-image {
    display : inline;
    float : left;
    clear:none;
}

.media-image-1, .media-image-2 {
    /*border-right : 16px solid white;*/
    /*border-right : 16px solid white;*/
}

.primary {
    /*background : #fbfbfb;*/
}

p {
    max-width: 868px;
}

table.container {
    width: 900px;
}

.tcenter {
    text-align : center;
}