body {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

h1 {
    color : #004E96;
    font-weight: lighter;
}

.smalltext{
    color : #555;
    font-size : 12px;
    text-align : center;
}

.content {
    word-break: normal;
    width : 548px;
    max-width: 548px;
}

.content-centered {
    text-align : center;
}