{% extends "MotogpBundle:Default:base.html.twig" %}
{% block body %}
    {{ parent() }}
    {% include "MotogpBundle:Default:Blocks/top-slider.html.twig" with {'gallery' : gallery} %}

    <div class="smoke-background">
        <div class="white-background">
            <div class="video-gallery">
                {% for p in range(1,6) %}
                    {% for v in videos %}
                        {% include "MotogpBundle:Default:Videos/video_gallery_item.html.twig" with {'video' : v } %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'MotogpBundle:Default:footer.html.twig' %}
{% endblock %}