{% extends "MotogpBundle:Default:base.html.twig" %}
{% block body %}
    {{ parent() }}
    {% include "MotogpBundle:Default:test-slider.html.twig" with {'gallery' : gallery} %}

    <div class="circuit-galleries">

        {% for p in range(1,6) %}
            {% for c in circuits %}
                {% if c.galleries | length %}
                    {% include "MotogpBundle:Default:circuit-gallery.html.twig" with {'circuit' : c} %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

    {% include 'MotogpBundle:Default:footer.html.twig' %}
{% endblock %}