{% trans_default_domain 'register' %}
{% extends "MotogpBundle:Default:base.html.twig" %}
{% block body %}
    {{ parent() }}
    <div class="smoke-background">
        <div class="white-background motos-wrapper">
            <div class="w100">
                <div class="col-xs-12 col-md-9 tcenter section">
                    <h1 class="text-center">{{ "register_success_text1" | trans}}</h1>
                </div>
            </div>
        </div>
    </div>
    {% include 'MotogpBundle:Default:footer.html.twig' %}
{% endblock %}